<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="manifest" href="{% static 'frontend/manifest.json' %}">
  <link rel="shortcut icon" href="{% static 'frontend/favicon.ico' %}">
  <title>РАПО - Решения автоматизации и программного обеспечения</title>
</head>
<body>
<div id="app">
    <!-- React will load here -->
</div>
</body>
{% load static %}
<script src="{% static 'frontend/main.js' %}"></script>
</html>